@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<style>
    h1{
        text-align:center
    }

    
</style>

<h1>Welcome To Employee Details </h1>


<img src="~/image/emp2.jpg" align="middle"/>


