@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add More Employees Information</h1>




<div>
    <form>
        <div>
            <label>ID</label>
            <br />
            <input type="number" placeholders="0" id="id" class="Id" />
            <br />
            <label>First Name</label>
            <br />
            <input type="text" placeholders="Enter First Name" id="name" class="firstname" />
            <br />
            <label>Last Name</label>
            <br />
            <input type="text" placeholders="Enter Last Name" id="name" class="lastname" />
            <br />
            <label>Gender</label>
            <br />
            <input type="text" placeholders="Enter Gender" id="gender" class="gender" />
            <br />
            <button>Submit</button>
        </div>

    </form>







